package ${package.Mapper};

import org.apache.ibatis.annotations.Mapper;
import ${superMapperClassPackage};

import ${package.Entity}.${entity};

/**
 * 功能描述:
 *
 * @author ${author}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
